.s-main-container {
  display: flex;
  flex-direction: row;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 87vw;
  height: 97vh;
  overflow: hidden;
}

.s-left-panel {
  width: 100%;
  background-color: #c8c8c8;
  padding: 1vw;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 95%;
  overflow-y: auto;
}

.s-account-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  height: 85%;
  overflow-y: auto;
  justify-content: center;
}

.s-account-row {
  width: 100%;
  margin-bottom: 0.5vh;
}

.s-account-row p {
  font-size: 1.0em;
}

.s-delete-row {
  display: flex;
  justify-content: center; 
  margin-top: 1vh;
  width: 100%;
}

.s-account-card {
  box-sizing: border-box;
  background-color: #fff;
  width: 22%; 
  height: calc(22% * 2);
  border-radius: 5%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1vw;
  margin-bottom: 1vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s-account-card h3{
  font-size: 1.0em;
}

.s-account-card:hover{
  background-color: #ababab;
}

.s-add-account {
  box-sizing: border-box;
  background-color: #46a95d;
  width: 22%; 
  height: calc(22% * 2);
  border-radius: 5%;
  font-size: 1.0em;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.s-add-account:hover {
  background-color: #344738;
}

.s-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.5vw 1vw;
  cursor: pointer;
  border-radius: 5%;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 1.0em;
}

.s-button:hover {
  background-color: #311518;
}
