.accounts-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.accounts-buttons .all-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #00aaff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.accounts-buttons .account-buttons-row {
  display: flex;
  gap: 10px;
}

.accounts-buttons .account-button {
  flex: 1;
  padding: 10px 20px;
  background-color: #00aaff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.accounts-buttons .all-button:hover, .accounts-buttons .all-button.active {
  background-color: #0088cc;
}

.accounts-buttons .account-button:hover, .accounts-buttons .account-button.active {
  background-color: #0088cc;
}
