.reports-container {
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 88vw;
  overflow: hidden;
  align-items: center; 
}

.reports-grid {
  display: flex;
  flex-grow: 1;
  height: 92vh;
  width: 87vw;
}

.net-balance-container {
  width: 86vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  border-radius: 0.5vw;

  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.balance-value {
  font-weight: bold;
}
.net-balance-container.saved {
  background-color: rgb(130, 255, 130);
}
.net-balance-container.overspent {
  background-color: rgb(255, 136, 136);
}
.net-balance-container.balanced {
  background-color: rgb(171, 171, 171);
}
.period-selector label {
  font-size: 1em;
  font-weight: bold;
}
.period-selector option, select {
  font-size: 1em;
  font-style: oblique;
}

.panel-left {
  border-radius: 0.5vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  width: 40vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 0.5vw;
}

.subOne-left {
  display: flex;
  width: 100%;
}

.subTwo-left {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  overflow: hidden;
}


.panel-right {
  border-radius: 0.5vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  padding-left: 0.5vw;
  width: 60%; 
  overflow-y: auto;
  height: 100%;
}