.line-chart {
    width: 99%;
    height: 28vh;
    background-color: #cecece;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.recharts-axis-tick-line {
  stroke: #333;
  stroke-width: 1;
}

.recharts-axis-tick-label {
  font-size: 0.8rem;
  fill: #333;
}

.recharts-line {
  stroke: #ff4d4f;
  stroke-width: 2;
}

.recharts-dot {
  r: 5;
  fill: #ff4d4f;
}

.recharts-cartesian-grid {
  stroke: #eee;
  stroke-width: 1;
}

.recharts-cartesian-axis-tick-value {
  font-size: 0.85rem;
  fill: #333;
}

.recharts-cartesian-axis-tick-line {
  stroke: #ccc;
}

.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
  stroke: #eee;
}


.recharts-default-legend {
  font-size: 1.0rem;
  font-weight: bold;
}



.recharts-line-curve {
  stroke-width: 0.5rem;
}

.recharts-dot-active {
  stroke: #333;
  stroke-width: 1.5px;
}

.custom-tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px; 
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}