.r-pie-chart {
  width: 30vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-totals {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  flex-grow: 1;
}


.recharts-surface {
  font-family: 'Arial', sans-serif;
}

.recharts-wrapper {
  margin: 0 auto;
}

.recharts-text {
  fill: #333;
  font-size: 1.0rem;
}

.recharts-tooltip-wrapper {
  background-color: rgba(131, 131, 131, 0.75);
  border-radius: 1.0rem;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
}


.recharts-legend-item {
  font-size: 1.5vh;
}

