.r-pie-chart {
  width: 30vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}

.chart-container {
  flex-grow: 1;
}

.totals-list li {
  margin-bottom: 0.5vh;
}

.recharts-surface {
  font-family: 'Arial', sans-serif;
}

.recharts-wrapper {
  margin: 0 auto;
}

.recharts-text {
  fill: #333;
  font-size: 1.4vh;
}

.recharts-tooltip-wrapper {
  font-size: 1.5vh;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-radius: 4px;
}

.recharts-legend-item {
  font-size: 1.5vh;
}

