/* TransactionsList.css */

.t-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem; /* Reduce font size */
  }
  
  .t-table th, .t-table td {
    padding: 0.3rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .t-table th {
    background-color: #f7f7f7;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #ddd;
  }
  
  .t-table tr:nth-child(even) {
    background-color: #b9b9b9;
  }
  
  .t-table tr:hover {
    background-color: #000000;
    color: white;
  }
  
  .t-table tr.expense, .t-table tr.settle, .t-table tr.topup {
    color: red;
  }
  
  .t-table tr.income, .t-table tr.refund {
    color: green;
  }
    
  .t-table .col-amount {
    width: 10%;
    font-weight: bold; /* Emphasize the amount */
  }
  
  /* Tooltip styling */
  .t-table td[data-full-text]:hover::after {
    content: attr(data-full-text);
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    z-index: 10;
    max-width: 200px;
    overflow-wrap: break-word;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .t-table td[data-full-text]:hover::after {
    visibility: visible;
    opacity: 1;
  }
  