.App {
  display: flex;
  text-align: center;
}

.sidebar {
  width: 10vw;
  background-color: #e0e0e0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5vw;
}

.content {
  margin-left: 10vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  width: 89vw;
  height: 99vh;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 2vh;
}

.sidebar a {
  text-decoration: none;
  font-size: 1.0em;
  color: #333;
}

.sidebar .active a {
  font-weight: bold;
  font-size: 1.3em;
  color: #007bff;
}
